/*setting custom variables to make replacing properties easier*/
:root {
  --main-color: #bc5a45;
  --base-color: #f1e3dd;
  --font-family: Arial, Helvetica, sans-serif;
}

/*removing default browser style*/
* {
  margin: 0;
  padding: 0;
}
/*declaring font for whole page*/
body {
  font-family: var(--font-family);
}

/*-----HEADER SECTION----*/
/*style for the whole header banner*/
header {
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--base-color);
  padding: 10px 0;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
/*Name title style*/
header h1 {
  font-size: 70px;
  font-weight: 500;
  background-color: var(--main-color);
  padding-left: 70px;
  height: 90%;
  width: 29%;
}
/*style for navigation bar*/
header nav {
  margin-right: 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  font-size: 1.5vw;
  margin: 0px 25px;
  padding: 0 7px;
  border-bottom: 3px solid var(--main-color);
}

header a {
  text-decoration: none;
  color: #bc5a45;
}
/*-----HERO SECTION----*/

/*hero image style*/
.hero {
  background-image: url(https://previews.123rf.com/images/katrinshine/katrinshine1908/katrinshine190800030/128813234-tropical-monstera-and-palm-leaves-on-a-wooden-background-top-view.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  height: 300px;
}
/*hero subtitle*/
.header-subtitle {
  margin: 8% 0px;
  background-color: var(--main-color);
  padding: 15px;
  font-style: italic;
}

.header-subtitle h3 {
  font-size: 30px;
  font-weight: 500;
}

.content {
  max-width: 960px;
  margin: auto;
  color: var(--main-color);
  padding-top: 25px;
}

/*-----ABOUT SECTION-----*/
.about {
  display: flex;
  height: 200px;
  margin-bottom: 50px;
}

.about .side-title {
  height: 200px;
}

#about-content {
  width: 70%;
  line-height: 1.5;
}

/*Side title style for all sections*/
.side-title {
  width: 195px;
  height: 525px;
  border-right: 2px solid var(--main-color);
  margin-right: 20px;
  padding-right: 10px;
  text-align: right;
  font-size: 30px;
}

/*-----PROJECTS SECTION*-----*/
/*Add flex box to the whole section*/
.work {
  display: flex;
  margin-bottom: 50px;
}

/*style side title*/
.work .side-title {
  height: 840px;
}
/*Adding flex box to all of the cards*/
.cards {
  display: flex-column;
}
/*Styling big card and label*/
.big-card {
  background-image: url("../images/website1.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  border: 2px solid var(--main-color);
  margin-bottom: 15px;
  position: relative;
  opacity: 0.5;
}

.big-card-label {
  width: 160px;
  height: 70px;
  background-color: var(--base-color);
  position: absolute;
  bottom: 20px;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 5px;
}
/*Adding flex box to the small cards section to make it 2x2*/
.small-cards {
  display: flex;
  flex-wrap: wrap;
  width: 644px;
  margin: 0;
}
/*Styling each box and label*/
.small-card {
  width: 310px;
  height: 200px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.small-card-label {
  width: 130px;
  height: 75px;
  background-color: var(--base-color);
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 5px;
}

/*Adding border and margin to the cards*/
#proj2,
#proj4 {
  margin-right: 10px;
  border: 2px solid var(--main-color);
  position: relative;
}

#proj3,
#proj5 {
  border: 2px solid var(--main-color);
  position: relative;
}
/*Adding each individual project image*/
#proj2 {
  background-image: url("../images/website2.jpg");
  background-size: cover;
}

#proj3 {
  background-image: url("../images/website3.jpg");
  background-size: cover;
}

#proj4 {
  background-image: url("../images/website4.jpg");
  background-size: cover;
}

#proj5 {
  background-image: url("../images/website5.jpg");
  background-size: cover;
}

/*hover effect on cards*/
.big-card:hover {
  opacity: 1;
}

.small-card:hover {
  opacity: 1;
}

/*-----CONTACT SECTION-----*/
.contact {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
}

.contact .side-title {
  height: 150px;
}

.contact-links {
  width: 70%;
  height: 150px;
  padding-top: 55px;
}

.contact-links ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
}

.contact-links ul li a {
  text-decoration: underline;
  color: var(--main-color);
}
