/*setting custom variables to make replacing properties easier*/
:root {
  --main-color: #bc5a45;
  --base-color: #f1e3dd;
  --font-family: Arial, Helvetica, sans-serif;
}

/*removing default browser style*/
* {
  margin: 0;
  padding: 0;
}
/*declaring font for whole page*/
body {
  font-family: var(--font-family);
}

/*-----HEADER SECTION----*/
/*style for the whole header banner*/
header {
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--base-color);
  padding: 10px 0;
  align-items: center;
  position: sticky;
  z-index: 9999;
}
/*Name title style*/
header h1 {
  font-size: 70px;
  font-weight: 500;
  background-color: var(--main-color);
  padding-left: 70px;
  height: 90%;
  width: 29%;
}
/*style for navigation bar*/
header nav {
  margin-right: 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  font-size: 1.5vw;
  margin: 0px 25px;
  padding: 0 7px;
  border-bottom: 3px solid var(--main-color);
}

header a {
  text-decoration: none;
  color: #bc5a45;
}
/*-----HERO SECTION----*/

/*hero image style*/
.hero {
  background-image: url(https://previews.123rf.com/images/katrinshine/katrinshine1908/katrinshine190800030/128813234-tropical-monstera-and-palm-leaves-on-a-wooden-background-top-view.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  height: 300px;
}
/*hero subtitle*/
.header-subtitle {
  margin: 8%;
  background-color: var(--main-color);

  padding: 15px;
}

.header-subtitle h3 {
  font-size: 45px;
  font-weight: 500;
}

.content {
  max-width: 960px;
  margin: auto;
  color: #bc5a45;
  padding-top: 25px;
}

/*-----ABOUT SECTION-----*/
.about {
  display: flex;
  margin-bottom: 50px;
}

#about-content {
  width: 85%;
  line-height: 1.5;
}

/*Side title style for all sections*/
.side-title {
  width: 200px;
  height: 525px;
  border-right: 2px solid var(--main-color);
  margin-right: 20px;
  padding-right: 10px;
  text-align: right;
  font-size: 30px;
}

/*-----PROJECTS SECTION*-----*/

.work {
  display: flex;
  margin-bottom: 50px;
}

.work .side-title {
  height: 1000px;
}

.cards {
  display: flex-column;
}

.big-card {
  background-color: green;
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  position: relative;
}

.small-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.small-card {
  width: 49.15%;
  height: 100vh;
  margin-bottom: 10px;
}

#proj2,
#proj4 {
  background-color: yellow;
  margin-right: 10px;
  position: relative;
}

#proj3,
#proj5 {
  background-color: orange;
  position: relative;
}

/*-----CONTACT SECTION-----*/
.contact {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.contact-links ul {
  width: 100%;
  display: flex;
  list-style: none;
}

.contact-links ul li {
  justify-content: space-evenly;
}
